{{#if first_name}}
<div class="view" id="{{id}}">
	<a href="/reps/{{id}}">
		<label>{{first_name}} {{last_name}} ({{id}})</label>
	</a>
	<div class="chart chart-cur"><svg id="svg"></svg></div>
	<span id="draw-chart-cur"></span>
</div>
{{/if}}
