<a href="/rep/{{login}}" data-placement="right" data-toggle="tooltip" data-original-title="{{name}} ({{login}})" title="">
  <img src="{{avatar_url}}" width="100" height="100" class="img-responsive" alt="{{login}}">
</a>
