<div class="row-fluid" id="{{login}}">
	<div class="span4">
	{{#if followers}}
		<a href="/rep/{{login}}">
			<label>{{name}} ({{followers}})</label>
		</a>
	{{else}}
		<a href="/rep/{{login}}"><label>Loading...</label></a>
	{{/if}}
	</div>
	<div class="span8">
		<div class="progress">
			<div class="bar" style="width: {{pre}}%;"></div>
			<div class="bar bar-muted" style="width: {{to_date}}%;"></div>
			<div class="bar" style="width: {{post}}%;"></div>
			<div class="bar bar-transparent" style="width: {{gap}}%;"></div>
			<div class="bar bar-success" style="width: {{end}}%;"></div>
		</div>
	</div>
</div>
