{{#if_logged_in}}
	<div class="view" id="{{id}}">
		<h2>{{first_name}} {{last_name}} ({{id}})</h2>
		<div class="chart"><svg></svg></div>
	</div>
{{else}}
	<h2 class="text-error">You must log in to see this page.</h2>
{{/if_logged_in}}
