{{#if_logged_in}}
	<div class="control-group">
		<div class="controls">
			<a class="btn" href="/refresh/rep/{{id}}">
				<i class="icon-refresh"></i> Refresh Data
			</a>
		</div>
	</div>
	<div class="view" id="{{id}}">
		<h2>{{first_name}} {{last_name}}</h2>
		<div id="work-graph">
			<h3>Work Graph<br></h3>
			<ul class="nav nav-tabs" id="work_tab">
				<li class="active"><a href="#chart-cur-tab" data-toggle="tab">This Month</a></li>
				<li><a href="#chart-pre-tab" data-toggle="tab">Last Month</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="chart-cur-tab">
					<div class="chart chart-cur"><svg></svg></div>
				</div>
				<div class="tab-pane" id="chart-pre-tab">
					<div class="chart chart-pre"><svg></svg></div>
				</div>
			</div>
			<script>$(function() {$('#work_tab a:first').tab('show');})</script>
			<hr>
		</div>
		<div id="feedback">
			<h3>Customer Feedback & Progress<br></h3>
			<ul class="nav nav-tabs" id="feedback_tab">
				<li class="active"><a href="#cur_feedback" data-toggle="tab">This Month</a></li>
				<li><a href="#prev_feedback" data-toggle="tab">Last Month</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="cur_feedback">
					<ul class="unstyled">
						<li>
							<div class="row-fluid">
								<div class="span2">
									<label>Feedback Summary</label>
								</div>
								<div class="span10">
									<div>
										<table class="table table-striped">
											<thead><tr>
												<th>Cat 1</th><th>Cat 2</th>
												<th>Cat 3</th><th>Cat 4</th>
											</tr></thead>
											<tbody><tr>
											{{#with cur_feedback_data}}
												<td><a class="btn btn-large btn-warning disabled">
												{{#times x_survey_cat_1}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes x_survey_cat_1}}<i class="icon-star"></i>{{/untimes}}</a></td>
												<td><a class="btn btn-large btn-warning disabled">
												{{#times x_survey_cat_2}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes x_survey_cat_2}}<i class="icon-star"></i>{{/untimes}}</a></td>
												<td><a class="btn btn-large btn-warning disabled">
												{{#times x_survey_cat_3}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes x_survey_cat_3}}<i class="icon-star"></i>{{/untimes}}</a></td>
												<td><a class="btn btn-large btn-warning disabled">
												{{#times x_survey_cat_4}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes x_survey_cat_4}}<i class="icon-star"></i>{{/untimes}}</a></td>
											{{/with}}
											</tr></tbody>
										</table>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row-fluid">
								<div class="span2">
									<label>Progress Table</label>
								</div>
								<div class="span10">
									<table class="table table-striped">
										<thead><tr>
											<th>Sales (TZS)</th>
											<th>Visits (#)</th>
											<th>Commission (TZS)</th>
											<th>Points (#)</th>
										</tr></thead>
										<tbody><tr>
										{{#with cur_progress}}
											<td>{{sales}}</td><td>{{visits}}</td>
											<td>{{commission}}</td><td>{{pts}}</td>
										{{/with}}
										</tr></tbody>
									</table>
								</div>
							</div>
						</li>
						<li>
							<div class="row-fluid">
								<div class="span2">
									<label>Progress Graph</label>
								</div>
								<div class="progress span10">
								{{#with cur_progress}}
									<div class="bar" style="width: {{pre}}%;"></div>
									<div class="bar bar-muted" style="width: {{to_date}}%;"></div>
									<div class="bar" style="width: {{post}}%;"></div>
									<div class="bar bar-transparent" style="width: {{gap}}%;"></div>
									<div class="bar bar-success" style="width: {{end}}%;"></div>
								{{/with}}
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tab-pane" id="prev_feedback">
					<ul class="unstyled">
						<li>
							<div class="row-fluid">
								<div class="span2">
									<label>Feedback Summary</label>
								</div>
								<div class="span10">
									<div>
										<table class="table table-striped">
											<thead><tr>
												<th>Cat 1</th><th>Cat 2</th>
												<th>Cat 3</th><th>Cat 4</th>
											</tr></thead>
											<tbody><tr>
											{{#with prev_feedback_data}}
												<td><a class="btn btn-large btn-warning disabled">
												{{#times month_cat_1}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes month_cat_1}}<i class="icon-star"></i>{{/untimes}}</a></td>
												<td><a class="btn btn-large btn-warning disabled">
												{{#times month_cat_2}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes month_cat_2}}<i class="icon-star"></i>{{/untimes}}</a></td>
												<td><a class="btn btn-large btn-warning disabled">
												{{#times month_cat_3}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes month_cat_3}}<i class="icon-star"></i>{{/untimes}}</a></td>
												<td><a class="btn btn-large btn-warning disabled">
												{{#times month_cat_4}}<i class="icon-star icon-white"></i>{{/times}}{{#untimes month_cat_4}}<i class="icon-star"></i>{{/untimes}}</a></td>
											{{/with}}
											</tr></tbody>
										</table>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row-fluid">
								<div class="span2">
									<label>Progress Table</label>
								</div>
								<div class="span10">
									<table class="table table-striped">
										<thead><tr>
											<th>Sales (TZS)</th>
											<th>Visits (#)</th>
											<th>Commission (TZS)</th>
											<th>Points (#)</th>
										</tr></thead>
										<tbody><tr>
										{{#with prev_progress}}
											<td>{{sales}}</td><td>{{visits}}</td>
											<td>{{commission}}</td><td>{{pts}}</td>
										{{/with}}
										</tr></tbody>
									</table>
								</div>
							</div>
						</li>
						<li>
							<div class="row-fluid">
								<div class="span2">
									<label>Progress Graph</label>
								</div>
								<div class="progress span10">
								{{#with prev_progress}}
									<div class="bar" style="width: {{pre}}%;"></div>
									<div class="bar bar-muted" style="width: {{to_date}}%;"></div>
									<div class="bar" style="width: {{post}}%;"></div>
									<div class="bar bar-transparent" style="width: {{gap}}%;"></div>
									<div class="bar bar-success" style="width: {{end}}%;"></div>
								{{/with}}
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<script>$(function() {$('#feedback_tab a:first').tab('show');})</script>
			<hr>
		</div>
		<div id="forms">
			<h3>Forms<br></h3>
			<legend>Review Form</legend>
			<form id="review-form" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="review-type">Review type</label>
					<div class="controls">
						<select id="review-type" name="reviewType">
							<option>Called</option>
							<option>In-person</option>
						</select>
						<span class="help-block">How did you contact the rep?</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="observations">Observations</label>
					<div class="controls">
						<select id="observations" name="observation">
							<option>Satisfactory work</option>
							<option>Late start</option>
							<option>Early finish</option>
							<option>Long lunch</option>
							<option>Other (specify below)</option>
						</select>
						<span class="help-block">What have you noticed?</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="notes">Notes</label>
					<div class="controls">
						<input type="text" name="notes" id="notes" placeholder="Type something…">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button id="review-form-submit" class="btn btn-primary" type="button">Submit</button>
					</div>
				</div>
			</form>
			<legend>Network Claim Form</legend>
			<form id="network-form" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="momentous">Date</label>
					<div class="controls">
						<div id="datepicker"></div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="reason">Reason</label>
					<div class="controls">
						<select name="reason" id="reason">
							<option>Network: no data</option>
							<option>Network: no signal</option>
							<option>Network: bad sim card</option>
							<option>Phone: application no loading</option>
							<option>Phone: form not loading</option>
							<option>Phone: not submitting</option>
							<option>Phone: crashing with error</option>
							<option>Phone: no shortcut</option>
							<option>Excused leave</option>
							<option>Unexcused leave</option>
							<option>Headquarter issue</option>
						</select>
						<span class="help-block">Why wasn't the report sent?</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button id="network-form-submit" class="btn btn-primary" type="button">Submit</button>
					</div>
				</div>
			</form>
			<hr>
		</div>
		<div id="rep-info">
			<ul class="inline">
				<li>Name: {{first_name}} {{last_name}}</li>
				<li>Phone #: {{airtel}}</li>
				<li>ID #: {{id}}</li>
				<li>Ward: {{ward}}</li>
			</ul>
		</div>
	</div>
	<span id="draw-chart-cur"></span>
	<span id="draw-chart-pre"></span>
{{else}}
	<h2 class="text-error">You must log in to see this page.</h2>
{{/if_logged_in}}
