<div class="control-group">
	<div class="controls">
		<a class="btn" href="/rep/{{login}}/false/true">
			<i class="icon-refresh"></i> Refresh Data
		</a>
		<a class="btn" href="/rep/{{login}}/true">
			<i class="icon-refresh"></i> Redraw Graph
		</a>
	</div>
</div>
<div class="view" id="{{login}}">
	<h2>{{name}}</h2>
	<div id="work-graph">
		<h3>Activity Graph</h3>
		<div class="chart"><svg id="svg"></svg></div>
		<hr>
	</div>
	<div id="feedback">
		<h3>Stats Summary</h3>
		<div class="tab-pane active" id="cur_feedback">
			<div class="row-fluid">
				<div class="span12">
					<table class="table table-striped">
						<thead><tr>
							<th>Repos</th>
							<th>Gists</th>
							<th>Followers</th>
							<th>Following</th>
						</tr></thead>
						<tbody><tr>
							<td>{{public_repos}}</td>
							<td>{{public_gists}}</td>
							<td>{{followers}}</td>
							<td>{{following}}</td>
						</tr></tbody>
					</table>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div id="rep-info">
		<ul class="inline">
			<li>Name: {{name}}</li>
			<li>Email: {{email}}</li>
			<li>Login: {{login}}</li>
			<li>Location: {{location}}</li>
		</ul>
	</div>
</div>
